<%  provide(:title, "About") %>
<p>This Rails app is an extension of the GTD Ninja approach using Evernote. Specifically, it loads the tasks from Evernote and displays them from a project's point of view. This should help to make the weekly review a bit more efficient (and in my case, thus, more likely to be done..).</p>
